/**
 * @Desc 全局类
 */

@import '../var';

/* 文本溢出隐藏，需要设定 width ，建议设置元素 title 属性 */

// 最多显示一行
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
	white-space: nowrap;
}

// 最多显示两行
.text-ellipsis--l2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

// 最多显示三行
.text-ellipsis--l3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* 1px边框 */
// 上边框  .hairline--top
// 下边框  .hairline--bottom
// 左边框  .hairline--left
// 右边框  .hairline--right
// 上下边框  .hairline--top-bottom
// 全边框  .hairline--surround

.hairline--top, .hairline--bottom, .hairline--left, .hairline--right, .hairline--surround, .hairline--top-bottom {
  position: relative;
}

[class*=hairline]:after {
  position: absolute;
  box-sizing: border-box;
  content: " ";
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid $g-color-border;
  transform: scale(.5);
}

.hairline--top:after {
  border-top-width: 1px;
}

.hairline--bottom:after {
  border-bottom-width: 1px;
}

.hairline--left:after {
  border-left-width: 1px;
}

.hairline--right:after {
  border-right-width: 1px;
}

.hairline--surround:after {
  border-width: 1px;
}

.hairline--top-bottom:after {
  border-width: 1px 0;
}
