/**
 * @Desc scss常用变量表
 */

/* 屏幕大小 */

// 超小屏, <768px
$g-media-xs: 768px;
// 小屏, >=768px
$g-media-sm: 768px;
// 中屏, >=992px
$g-media-md: 992px;
// 大屏, >=1200px
$g-media-lg: 1200px;
// 超大屏, >=1920px
$g-media-xl: 1920px;


/* 字体相关 */

// 字体
$g-ff: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

// 辅助文字
$g-fs-xs: 12px !default;
// 正文（小）
$g-fs-sm: 13px !default;
// 正文
$g-fs-bs: 14px !default;
// 小标题
$g-fs-md: 16px !default;
// 标题
$g-fs-lg: 18px !default;
// 主标题
$g-fs-xl: 20px !default;

// 无行高
$g-lh-no: 1 !default;
// 紧凑
$g-lh-sm: 1.3 !default;
// 常规
$g-lh-md: 1.5 !default;
// 宽松
$g-lh-lg: 1.7 !default;
// 两倍
$g-lh-xl: 2 !default;


/* 布局相关 */

// 头部高度
$g-header-height: 60px !default;


/* 颜色 */

// 主题色
$g-color-theme: #42b983 !default;
// 对立色
$g-color-oppo: #FA8334 !default;
// 主要文字色
$g-color-font--strong: #303133 !default;
// 常规文字色
$g-color-font--normal: #606266 !default;
// 次要文字色
$g-color-font--minor: #909399 !default;
// 占位文字色
$g-color-font--placeholder: #C0C4CC !default;
// 边框色
$g-color-border: #E4E7ED !default;

