// @author: liuqiao;
// @date: 2018-12-10;
// @description: 重设样式
@import '../mixin/layout';


* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html, body{
	font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial,
      "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC",
      "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei",
      "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  font-weight: normal;
  font-size: 14px;
	width: 100%;
  color: #000;
}
body{
  // 设定最小宽度
  min-width: 400px;
  // // 设定最小高度
  // min-height: 400px;
  @include g-scrollbar($width: 8px);
}
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%;
}
i{
  font-style: normal;
}
ol, ul, li {
  list-style: none;
}

img {
  border: none;
  max-width: 100%;
}


// 处理小屏下的 datepicker/daterange
@media screen and (max-width: 635px){
  .el-date-range-picker {
    width: 100%;
  }
}
@media screen and (max-width: 520px){
  .el-date-range-picker {
    width: 90%;

    .el-picker-panel__body {
      min-width: 0;
      padding: 10px
    }

    .el-date-range-picker__content {
      padding: 0;
      width: 100%;
      box-sizing: border-box;
      border: none;
    }
  }
}
