/**
 * @Author: Jim Rae
 * @Date: 2019-10-24
 * @Last Modified by: Jim Rae
 * @Last Modified time: 2019-10-24
 * @Desc 通过@media查询响应式设置样式
 */

 @import '../var';

 // 小屏样式
 @mixin g-media-sm(){
   @media screen and (max-width: $g-media-md){
     @content;
   }
 }
 // 中屏样式
 @mixin g-media-md(){
   @media screen and (min-width: $g-media-md){
     @content;
   }
 }
 // 大屏样式
 @mixin g-media-lg(){
   @media screen and (min-width: $g-media-lg){
     @content;
   }
 }

 // 适用场景：大中小屏下，设置单个样式值
 @mixin g-media-attr($options: ()){
   $sm: map-get($options, sm);
   $md: map-get($options, md);
   $lg: map-get($options, lg);
   $attr: map-get($options, attr);
   @if $sm {
     @include g-media-sm(){
       #{$attr}: $sm;
     }
   }
   @if $md {
     @include g-media-md(){
       #{$attr}: $md;
     }
   }
   @if $lg {
     @include g-media-lg(){
       #{$attr}: $lg;
     }
   }
 }

 // 各属性设置

 @mixin g-width($sm: null, $md: null, $lg: null){
   @include g-media-attr(
     $options: (
       sm: $sm,
       md: $md,
       lg: $lg,
       attr: width
     )
   );
 }

 @mixin g-height($sm: null, $md: null, $lg: null){
   @include g-media-attr(
     $options: (
       sm: $sm,
       md: $md,
       lg: $lg,
       attr: height
     )
   );
 }

 @mixin g-pd-lf($sm: null, $md: null, $lg: null){
   @include g-media-attr(
     $options: (
       sm: $sm,
       md: $md,
       lg: $lg,
       attr: padding-left
     )
   );
 }

 @mixin g-pd-rt($sm: null, $md: null, $lg: null){
   @include g-media-attr(
     $options: (
       sm: $sm,
       md: $md,
       lg: $lg,
       attr: padding-right
     )
   );
 }

 @mixin g-pd-tp($sm: null, $md: null, $lg: null){
   @include g-media-attr(
     $options: (
       sm: $sm,
       md: $md,
       lg: $lg,
       attr: padding-top
     )
   );
 }

 @mixin g-pd-bt($sm: null, $md: null, $lg: null){
   @include g-media-attr(
     $options: (
       sm: $sm,
       md: $md,
       lg: $lg,
       attr: padding-bottom
     )
   );
 }

 @mixin g-mg-lf($sm: null, $md: null, $lg: null){
   @include g-media-attr(
     $options: (
       sm: $sm,
       md: $md,
       lg: $lg,
       attr: margin-left
     )
   );
 }

 @mixin g-mg-rt($sm: null, $md: null, $lg: null){
   @include g-media-attr(
     $options: (
       sm: $sm,
       md: $md,
       lg: $lg,
       attr: margin-right
     )
   );
 }

 @mixin g-mg-tp($sm: null, $md: null, $lg: null){
   @include g-media-attr(
     $options: (
       sm: $sm,
       md: $md,
       lg: $lg,
       attr: margin-top
     )
   );
 }

 @mixin g-mg-bt($sm: null, $md: null, $lg: null){
   @include g-media-attr(
     $options: (
       sm: $sm,
       md: $md,
       lg: $lg,
       attr: margin-bottom
     )
   );
 }

 @mixin g-display($sm: null, $md: null, $lg: null){
   @include g-media-attr(
     $options: (
       sm: $sm,
       md: $md,
       lg: $lg,
       attr: display
     )
   );
 }

